.header {
  height: 70px;
  width: 92vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px 60px;
  background: #eff2f8;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
  }

  .options-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      margin: 10px 15px;
      cursor: pointer;
    }
  }
}
